.task {
    background: linear-gradient(to bottom, purple, blue);
    height: 100px;
    width: 100px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
}
