{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Task Tracker {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block extra_css %} {% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href={% url 'tasks:Home' %}>Home</a>
            <a href={% url 'tasks:tasks_list' %}>Task list</a>
            <a href={% url 'tasks:create_task'%}>Add task</a>
            <a href={% url 'tasks:about' %}>About</a>
        </nav>
    </header>
    <main>
        {% block content%}
            hello
        {% endblock %}
    </main>
    <footer>&copy Demo 2026</footer>
</body>
</html>
